'''Krok 1: Pliki Konfiguracyjne (Główny folder projektu)

Zaczynamy od plików, które definiują środowisko i zależności naszego projektu.
requirements.txt

(Lista wszystkich bibliotek, które musimy zainstalować)'''


fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-openai
langchain-community
pypdf
chromadb
tiktoken
streamlit
requests